/*
* @Author: asus
* @Date:   2017-11-25 21:59:43
* @Last Modified by:   asus
* @Last Modified time: 2017-11-26 17:07:59
*/

/* 固定头部 */
body{
  background-color: #ddd;
}
img{
  vertical-align: middle;
}
.lt-header {
  background-color:#046691;
   padding: 0 35px;
  position: relative;
}


.lt-header .lt-search {
  color: #fff;
  line-height: 44px;
   position: absolute; 
   right: 10px; 
}
.lt-header .lt-return{
  color: #fff;
  line-height:44px;
  position: absolute;
  left: 10px;

}
.lt-header input{
  width: 100%;
  height: 34px;
  margin-top: 5px;
  box-sizing: border-box;
}


/* 中间部分 */

/* 左半部分 */
.content{
  width: 100%;
  overflow: hidden;

}
.mui-segmented-control .mui-control-item{
  width: 20%;
  background-color: #fff;
  color: #000;
}
/* 右半部分 */
.right{
  position: absolute;
  top: 44px;
  right: 0px;
   width: 77%;

}
.right ul{
  margin: 0;
  width: 100%;
  background-color: #fff;
  padding: 0;

}
.right li{
  width: 32%;
  /* overflow: hidden;  */
  list-style: none;
  text-align: center;
  display: inline-block;
}
.right li img{
  width: 100%;
}




/* 固定底部 */
.lt-footer {
  background-color: #046691;

}
.lt-footer .mui-item {
  display: table-cell;
  overflow: hidden;
  width: 1%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #929292;
}

.lt-footer .mui-item span[class^='fa']{

}
.lt-footer .mui-item  {
  color: #fff;
}

.lt-footer .mui-item.mui-active {
  color: orange;
}

.lt-footer .mui-item span[class^='mui']{
  display: block;
  text-align: center;
  font-size: 14px;
}
  
  .lt-footer .mui-icon{
    display: inline-block;
    font-size: 24px;
  }