.lt-login {

}

.lt-login .form {
  padding: 10px;
}

.lt-login .mui-btn {
  width: 100%;
  margin: 20px 0;
}

.lt-login .signup {
  float: right;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}